<Layout>

  <!-- <div class="mt-2 row">
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mt-5" *ngFor='let product of products'>
      <div class="card" data-html='true' data-container="body" [attr.data-content]="popoverContent"
        data-placement="bottom" (mouseenter)="in($event.target,product)" (mouseleave)="out($event.target)">
        <img class="card-img-top" [src]="product.imageUrl" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{product.chineseName}} - {{product.englishName}}</h4>
          <p>地點: {{product.location}}</p>
        </div>
      </div>
    </div>
  </div>
   -->
  <div class="container-fluid">

    <div>
      <h4 style="color: aliceblue" class="mt-5">酒的品種名稱</h4>
      <div class="product-list">
        <div id="product" class="text-center" *ngFor='let product of products; let index = index'
          (click)='selected(product,1)'>
          <h5 style="color:aliceblue" class="mt-2">{{product.chineseName}} - {{product.englishName}}  {{product.id}}</h5>
          <img class="img-thumbnail" [src]="product.imageUrl">
        </div>
      </div>

      <div #collapse id="1" class="collapse mt-2">
        <div class="card">
          <div class="card-header">
            <button type="button" class="close" (click)='closeCollapse(collapse)'>&times;</button>
          </div>
          <div class="card-body row">
            <div class="col">
              <h4 class="card-title">{{selectProduct.chineseName}} - {{selectProduct.englishName}} {{selectProduct.id}}</h4>
              <div>
                <p class="card-text">{{selectProduct.chineseDescription}}</p>
                <p class="card-text">{{selectProduct.englishDescription}}</p>
              </div>
            </div>
            <div class="col text-center">
              <br>
              <p>
                <span class="mr-4">描述名稱:描述內容</span>
                <span class="mr-4">描述名稱:描述內容</span>
                <span>描述名稱:描述內容</span>
              </p>
              <br>
              <p>
                <span class="mr-4">描述名稱:描述內容</span>
                <span class="mr-4">描述名稱:描述內容</span>
                <span>描述名稱:描述內容</span>
              </p>
              <br>
              <p>
                <span class="mr-4">描述名稱:描述內容</span>
                <span class="mr-4">描述名稱:描述內容</span>
                <span>描述名稱:描述內容</span>
              </p>
              <br>
              <p>
                <span class="mr-4">描述名稱:描述內容</span>
                <span class="mr-4">描述名稱:描述內容</span>
                <span>描述名稱:描述內容</span>
              </p>
            </div>
            <div class="col text-center">
              <img class="shadow-lg collapse-img" [src]='selectProduct.imageUrl'>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div>
      <h4 style="color: aliceblue" class="mt-5">酒的品種名稱</h4>
      <div class="product-list">
        <div id="product" class="text-center" *ngFor='let product of products; let i = index'>
          <img class="img-thumbnail" [src]="product.imageUrl">
          <h5 style="color:aliceblue" class="mt-2">{{product.chineseName}} - {{product.englishName}}</h5>
        </div>
      </div>

      <div id="2" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>

  </div>
</Layout>