.collapse-img{
    padding-left: 0;
    padding-right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 300px;
}

.card-header{
    background-color: white;
    border-bottom: none;
    padding: 0;
}

.card-header .close {
    margin-right: 2px;
    padding: 5px;
    color: red;
}
