<style>
  .navbar-brand {
    font-size: 35px;
  }

  .nav-item {
    font-size: 25px;
  }
</style>

<div class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">玩啤</a>
      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">台北</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">台中</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">台南</a>
        </li>
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">註冊</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">登入</a>
        </li>
      </ul>
    </nav>
  </div>
  <ng-content></ng-content>
</div>